/* Full screen container for react-window */
.root {
  height: 100vh;
  position: relative;
}

.block {
  display: flex;
  justify-content: flex-end;
  padding-right: 2.1rem;
}

.blockInner {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: auto;
}

.character {
  align-items: center;
  border: 0.5px solid var(--very-light);
  color: var(--mid);
  cursor: pointer;
  display: flex;
  height: 3.4rem;
  justify-content: center;
  position: relative;
  transition: background-color 0.4s ease-in;
  width: 3.4rem;
}