.root {
  background-color: white;
  bottom: 0;
  color: red;
  font-size: 1.3rem;
  line-height: 3.4rem;
  padding: 0 2.1rem;
  position: absolute;
  right: 0;
  text-align: right;
  z-index: var(--z2);
}