/* Fibonacci sizing: 1.3, 2.1, 3.4, 5.5 */
/* Vertical sizing based on 3.4 (character cell size): 1.7, 3.4 */

@font-face {
  font-family: Plex;
  src: url('/yomi/IBMPlexSans-Light.woff2');
}

* {
  border: none;
  box-sizing: border-box; 
  margin: 0;
  padding: 0; 
}

:root[data-theme='light'] {
  --hue: 50;
  --mid-hue: calc(var(--hue) - 22.5);

  --dark: hsl(var(--hue), 0%, 5%);
  --mid: hsl(var(--mid-hue), 25%, 37.5%);
  --light: hsl(var(--hue), 15%, 80%);
  --very-light: hsl(var(--hue), 40%, 95%);

  --tag1: hsl(0, 0%, 0%);
  --tag2: hsl(var(--hue), 20%, 60%);
  --tag3: hsl(var(--hue), 5%, 60%);
  --tag4: hsl(0, 0%, 100%);
}

:root {
  --z1: 1000;
  --z2: 2000;

  background: var(--light);
  color: var(--dark);
  font-family: Plex, sans-serif;
  font-size: 14px;
  
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

@media (min-width: 1600px) {
  :root {
      font-size: 0.75vw;
  }
}

body {
  overflow: hidden;
}

#root {
  display: flex;
  font-size: 2.1rem;
  font-weight: 300;
  min-width: 1440px;
  position: relative;
}

a {
  color: var(--dark);
  cursor: pointer;
  text-decoration: none;
}

a:hover {
  opacity: 0.75;
  transition: opacity 0.2s;
}

button {
  background: none;
  color: var(--dark);
	cursor: pointer;
  display: block;
	border: none;
	font: inherit;
}

h1, h2, h3, h4 {
  font-size: inherit;
  font-weight: inherit;
  line-height: inherit;
}

h4 {
  color: var(--mid);
  font-size: 0.8rem;
  left: -1.3rem;
  opacity: 0.75;
  position: absolute;
  top: 0.05rem;
}

li {
  list-style-type: none;
}